<div class="flex justify-center flex-col w-full h-full">
  <div class="flex flex-col justify-center relative -top-6">
    <h1 class="font-MotivaSans text-2xl overflow-hidden overflow-ellipsis text-nowrap w-full ml-3 mt-4">{{Title}}</h1>
    <div class="flex flex-col pl-2 bg-[#4E6172] w-[92%] mx-auto">
      <p class="text-[#C6D4DF] text-[13px]">Overall user reviews:</p>
      <p [ngClass]="{'text-[#5FC0F4]': Review.includes('Positive'),
    'text-[#B9A074]': Review.includes('Mixed'),
    'text-[#E06363]': Review.includes('Negative')}" class="text-[13px]">{{Review}}</p>
    </div>
  </div>

  <ul class="flex gap-1 mx-auto">
    <li *ngFor="let tags of Tag" class="h-fit w-fit mb-1 px-1 bg-[#4D6171] text-gray-100 hover:text-[#63C0EC] text-[12px] overflow-hidden text-nowrap max-w-[150px] rounded-[2px]">{{tags}}</li>
  </ul>
  <div>
    <ul>
      <li *ngFor="let imgs of SideImg" class="flex justify-center">
        <img src="{{imgs}}" class="h-[150px] w-[90%] mt-1">
      </li>
    </ul>
  </div>
</div>
