<!--Gradient-->
<div class="absolute z-10 h-[600px] w-[600px] rounded-[100%] bg-[#184251] translate-x-[15rem] translate-y-[-10rem] blur-[100px]"></div>
<div class="absolute z-0 h-[1000px] w-[1000px] rounded-[100%] bg-[#1F3052] translate-x-[25rem] translate-y-[-10rem] blur-[300px]"></div>
<!--Body-->
<div class="bg-[#1B2838] h-[70rem]">
  <div class="inset-0  flex justify-center">
    <!-- Search bar -->
    <div class="relative z-20 bg-gradient-to-r from-[#3B6691] to-[#0F216E] w-1/2 h-fit  translate-y-[10rem] flex justify-between min-w-[55rem]">
      <div class="flex gap-4">
        <a class="font-MotivaSans text-white p-2 text-[14px] text-shadow-black hover-highlight">Your Store</a>
        <a class="font-MotivaSans text-white p-2 text-[14px] text-shadow-black hover-highlight">News & Noteworthy</a>
        <a class="font-MotivaSans text-white p-2 text-[14px] text-shadow-black hover-highlight">Categories</a>
      </div>
      <div class="flex bg-[#316282] m-1 items-center relative">
        <input type="text" placeholder="search" class="text-[15px] text-shadow-white bg-[#316282] border-0 placeholder:italic placeholder-[#0E1C25] rounded-sm pl-[10px] m-1">
        <img src="SearchBTN.PNG" class="h-[26px] rounded-sm absolute right-0">
      </div>
    </div>
  </div>
  <!-- Featured & Recommended -->
  <div class="flex justify-center">
    <div class="absolute flex flex-col gap-2 z-30 h-[23rem] w-1/2 min-w-[55rem] translate-y-[12rem]">
      <p class="text-[14px] text-white font-MotivaSans">FEATURED & RECOMMENDED</p>
      <div class="flex w-full h-full shadow-black thin-high-intensity-shadow">
        <img id="Game-Thumbnail" src="lightskinned.png" class="relative left-0 h-full w-2/3 shadow-right">
        <div id="Game-desc" class="bg-[#0B151E]  h-full w-1/3 right-0 relative">
          <h1 class="text-2xl text-white m-4 font-MotivaSans " >GAME TITLE</h1>
          <div id="In-game-images" class="grid grid-cols-2 grid-rows-2 gap-3 w-full ">
            <img src="baguette.PNG" class="h-[70px] w-[162px]">
            <img src="cock.PNG" class="h-[70px] w-[162px]">
            <img src="i agree.PNG" class="h-[70px] w-[162px]">
            <img src="speed.PNG" class="h-[70px] w-[162px]">
          </div>
          <div id="game-tag" class="mt-2 flex flex-col flex-grow">
            <h1 class="text-white font-MotivaSansLight text-[20px]">Download Now</h1>
            <div  class="flex flex-wrap gap-1">
              <p class="text-white font-MotivaSans text-[12px] bg-[#394148] rounded-sm py-[2px] px-[4px] h-fit w-fit">Thugs</p>
              <p class="text-white font-MotivaSans text-[12px] bg-[#394148] rounded-sm py-[2px] px-[4px] h-fit w-fit">Shaker</p>
              <p class="text-white font-MotivaSans text-[12px] bg-[#394148] rounded-sm py-[2px] px-[4px] h-fit w-fit">Dreamy</p>
              <p class="text-white font-MotivaSans text-[12px] bg-[#394148] rounded-sm py-[2px] px-[4px] h-fit w-fit">Yes King</p>
              <p class="text-white font-MotivaSans text-[12px] bg-[#394148] rounded-sm py-[2px] px-[4px] h-fit w-fit" >Bo Sinn</p>
            </div>
          </div>
          <div id="game-price" class=" w-full flex flex-grow justify-between absolute items-end bottom-0 ">
            <p class="font-MotivaSans text-white text-[13px] h-fit">400,000₫</p>
            <img src="window-icon.png" class="h-[18px] m-2">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
