<!-- Nav Bar -->
<nav class="bg-[#171D25] flex h-[104px] ">
  <!-- Nav bar items  -->
  <div class="w-3/4 h-full flex justify-center items-center gap-5">
    <img src="logo_steam.svg" alt="logo" class="text-white h-1/2">
    <a class="text-white font-MotivaSans text-[18px]">STORE</a>
    <a class="text-white font-MotivaSans text-[18px]">COMMUNITY</a>
    <a class="text-white font-MotivaSans text-[18px]">ABOUT</a>
    <a class="text-white font-MotivaSans text-[18px]">SUPPORT</a>
  </div>
  <!-- Nav bar login/install -->
  <div class="flex w-1/4 mt-3 gap-4">
    <button class="flex items-center gap-2 text-white text-[11px] font-MotivaSans bg-[#6C9018] py-1 px-2 h-fit w-fit"><img src="download.svg" class="h-[18px]">Install Steam</button>
    <div id="horizontal_line" class="w-[1px] h-1/4 bg-white mt-[2px]"></div>
    <a class="mt-[2px] h-1/4 content-center text-white text-[11px] font-MotivaSans">login</a>
  </div>
</nav>
