<div class="flex justify-center ">
    <div class="absolute flex flex-col gap-2 z-30 h-[23rem] w-1/2 min-w-[55rem] ">
      <p class="text-[14px] text-white font-MotivaSans">FEATURED & RECOMMENDED</p>
      <div class="flex w-full h-full shadow-black thin-high-intensity-shadow">
        <!--Thumbnail-->
        <img [src]="Thumbnail" class="absolute left-0 h-full w-2/3 shadow-right">
        <img id="Game-Thumbnail" [src]="activeImage" class="relative left-0 h-full w-2/3 shadow-right transition-opacity duration-300 ease-in-out"
             [ngClass]="{'opacity-0': !imageChanging, 'opacity-100': imageChanging}">
        <div id="Game-desc" class="bg-[#0B151E]  h-full w-1/3 right-0 relative">
          <h1 class="text-2xl text-white m-4 font-MotivaSans">{{Title}}</h1>
          <ul id="In-game-images" class="grid grid-cols-2 grid-rows-2 gap-3 w-full" (mouseleave)="resetImage()">
            <!-- List of game images-->
            <li *ngFor="let Img of Images | slice:0:4">
              <img (mouseenter)="changeImage(Img)"
                   [src]="Img"
                   class="h-[70px] w-[162px] brightness-50 hover:brightness-100 transition duration-300 ease-in-out">
            </li>
          </ul>
          <div id="game-tag" class="mt-2 flex flex-col flex-grow">
            <h1 class="text-white font-MotivaSansLight text-[20px]">Download Now</h1>
              <ul class="flex flex-wrap gap-1">
                <li *ngFor="let Tag of Tags" class="text-white font-MotivaSans text-[12px] bg-[#394148] rounded-sm py-[2px] px-[4px] h-fit w-fit">{{Tag}}</li>
              </ul>
          </div>
          <div id="game-price" class=" w-full flex flex-grow justify-between absolute items-end bottom-0 ">
            <p class="font-MotivaSans text-white text-[13px] h-fit">{{Price}}</p>
            <img [src]="Platform" class="h-[18px] m-2">
          </div>
        </div>
      </div>
    </div>
</div>
